@media screen and (min-width: 1280px) and (orientation: landscape) {
    .main-container {
        margin: auto 25em;
    }
    .sidebar {
        grid-template-columns: [col1] 50% [col2] 50%;
        column-gap: .5em;
    }
}

@media screen and (min-width: 980px) and (max-width: 1280px) {
    .main-container {
        margin: auto 5em;
    }
    .content {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 768px) {
    .main-container { margin: 0em; }
    header { height: 70pt; }
    .search-bar { margin: auto .2em; }
    .line-navigation { flex-direction: column; }
    .line-navigation a {
        width: 100%;
        height: 25pt;
    }
    .main-nav {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .content {
        grid-template-columns: 100%;
    }
    .post-image img {
        height: 100%;
    }
}